*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.white_bg_continer_header{
    width: 824px;
    height:100%;
    background-color: rgba(255, 255, 255, 0.37);
}
    
